@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-medium rounded-lg p-2;
}

.btn--primary {
  @apply bg-sky-500 text-white;
}

.btn--secondary {
  @apply bg-gray-100 text-gray-900;
}
